.navbar{
    background-color: none;
    border-bottom: none;
}
.navbar a{
    color: 4E5968 ;
}
.navbar-brand{
    position: absolute;
    top: -10px !important;
}
#main{
    width:100%;
    height:1080px;
    background-image: url(../img/new_main.png);
}
#main h1{
    text-align: center;
    font-size: 60px;
    color: black;
    margin-top: 100px;
    font-weight: 900;
}
#main div{
    text-align: center;
}
#main a{
    display: inline-block;
    width: 150px;
    height: 40px;
    background-color: black;
    border-radius: 7px;
    line-height: 40px;
    font: 17px;
    color: white;
    font-weight: bold;
}
#main img{
    width: 24px;
    height: 24px;
}
#catch{
    width:100%;
    height:600px;
    background: #F9FAFB;
    padding:250px 0;
}
#catch h2{
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -2px;
    line-height: 50px !important;
}
#home{
    padding-top: 200px;
    padding-bottom: 150px;
}
#home h2, #send h2{
    color: #3182F6;
    font-weight: bold;
}
#home h3, #send h3{
    font-weight: bold;
    font-size: 40px;
}
#box5{margin-bottom: 100px;}
#send span{
    color: #3182F6;
    font-weight: bold;
    font-size: 20px;
}
#send .txt1{
    font-size: 35px ;
    font-weight: bold;
}
#send .txt2{
    font-size: 20px;
    font-weight: bold;
    color: gray;
}
.pic01{
    width:57%;
    position: absolute;
    top:11%;
    left:22%;
}
.pic02{
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
}
#box1,#box4{
    position: relative;
    height: 300px !important; 
}
#box2,#box3{
    position: relative;
    height: 936px ;
}
#box3{
    top: -700px;
}
#send{
    background-color: #F9FAFB;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
}
.pic03, .pic04{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#bespoke{padding-bottom: 200px;}
#top{
    margin-top: 150px;
    margin-bottom: 150px;
    font-size: 60px;
    font-weight: bold;
}
#bottom{
    font-weight:bold ;
    margin-top: 40px;
    color: #B0B8C1;
}
#bottom div{
    margin-bottom: 10px;
    color: #191F28;
}
#box6 .col-sm-6, #box7 .col-sm-6, #box8 .col-sm-6{
    height: 384px;
}
#bespoke .col-sm-8{
    height: 838px;
}
#bespoke p{
    margin-top: 35px;
    font-size: 15px;
    font-weight: bold;
    color: #333d4b;
}
.pic05{
    width: 90%;
    height: 336px;
}

#business{
    padding-top: 50px;
    padding-bottom: 50px;
    background: black;
    padding-top: 100px;
    padding-bottom: 200px;
}
.pic06{
    width: 100%;
    /* 세로사이즈를 오토로 하면 자동으로 잡힘(높이 안잡으면 오토임) */
}
#business .btn{
    background: #3182F6;
    color: #F9FAFB;
}
#businessbox1 h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
}
#businessbox1 h2{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #B0B8C1;
    margin-bottom: 150px;
}
#business .col-sm-2 h2{
    font-size: 25px;
    font-weight: bold;
    color: white;
}
#business .col-sm-2 h3{
    font-size: 15px;
    font-weight: bold;
    color: #B0B8C1;
    margin-bottom: 50px;
}
ul,li{list-style: none;}
footer{
    background: #191F28;
    padding-top: 50px;
    padding-bottom: 80px;
    color: #636D7E;
}
footer .row, footer h4{
    font-size: 13px;
}
footer .title, footer h4{
    font-weight: bold;
    color: #A1B8C1;
    margin-bottom: 10px;
}
footer #info{
    font-size: 11px;
    color: #838D99;
    margin-bottom: 25px;
}
footer #icon img{opacity: 0.7;}
footer #info, footer #icon{
    margin-left: 40px;
}

