.navbar{
    background-color: gray;
    border-bottom: none;
    opacity: 0.7;
}
.navbar a{
    color: white !important;
}
.container h2{
    margin-top: 150px !important;
    text-align: center;
}
.carousel-inner {
    position: relative;
}
.carousel-caption{
    position: absolute;
    top: 100px;
}
.carousel-caption h3{
    font-size: 80px;
}
.carousel-caption p{
    font-size: 30px;
}
.carousel-inner img{
    width: 100%;
    height: 700px !important; 
    filter: grayscale(90%);
}
/* filter: grayscale 이미지 흑백적용 */

footer{
    padding: 20px;
    background-color: rgb(65, 65, 65);
    color: rgb(199, 199, 199);
}

/* 모바일 화면에서 볼때 해더의 글자 크기를 맞게 변경 */
@media screen and (max-width:767px) {
    .carousel-caption h3{
        font-size: 45px !important;
    }
    .carousel-caption p{
        font-size: 25px !important;
    }
}